body {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: 20% 40% 40%;
    height: 100vh;
    background-color: mediumturquoise;
}
.date {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.clock {
    text-align: center;
    grid-column: 2 /3;
    grid-row: 1 / 2;
    color: white;
    font-size: 2.0rem;
}
.greeting {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    color: navy;
    text-align: center;
    font-size: larger;
    margin-top: 10%;
}
.todolist {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    margin-top: 10%;
}
.calculator {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
#calc {
    display: block;
    width: auto;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
}
.stress {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}


@media (max-width: 768px) {
    .date {
        font-size: 1.2rem;
    }

    .clock {
        font-size: 1.7rem;
    }
    .greeting {
        font-size: 2.0rem;
    }
    .calculator {
        width: auto;
        height: 80%;
    }
    #todo {
        width: 0 auto;
        height: 70%;

    }

}

@media (max-width: 576px) {
    body {
        display: grid;
        grid-template-rows: auto;
        grid-auto-flow: column;
    }
    .date {
        font-size: 0.7rem;
    }
    .clock {
        font-size: large;
    }
    .greeting {
        font-size: large;
    }
    .calculator {
        width: 0 auto;
        height: 40%;
        margin: 0 auto;
        grid-column: 1 / 4;
    }
    .todolist {
        grid-column: 1 / 4;
        margin: 0 auto;
    }
    #todo {
        margin-top: 400px;
        height: auto;
        width: 100%;
    }
}