.flex-container { 
    display: flex;
    flex-flow: nowrap;
}
.main {
    flex: 75%;
    background-color: whitesmoke;
    padding: 20px;
}
.side {
    flex: 25%;
    background-color: #0d4a8c;
    padding: 20px;
    color: white;
}
.side h3 {
    font-size: 18px;
    font-style: italic;
}
.detail1 {
    background-color: #0b2a4d;
}
a:link {
    color: green;
}
a:visited {
    color: peachpuff;
}
.detail2 {
    background-color: #0b2a4d;
}
.detail3 {
    background-color: #0b2a4d;
}
