h1 {
    width: 60%;
    margin: 5% auto;
}
main {
    width: 60%;
    margin: 5% auto;
    background: lightblue
}
article {
    margin: 1% auto;
    border: 2px solid grey;
    background: whitesmoke;
    width: 60%;
}